@media (max-width:1089px) {
    html{
        font-size: 60%;
    }
    .card__list{
      justify-content: center;
      gap: 1rem;
    }
    .info__block{
        justify-content: center;
        padding: 4rem;
        flex-direction: column;
    }


}
@media (max-width:768px) {
    .info__block { 
    padding: 3rem;
    text-align: center;
    padding: 2rem 0;
    }
}

@media (max-width:320px)
{
    .card__image {
    width: 100%;   
    }
}
